<h1>Log in</h1>

<form action="<%= session_url %>", method="POST">
  
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  
  <label for="user_name">Username:</label>
  <input type="text"
         name="user[name]"
         value="<%= @user.name %>"
         id="user_name"> <br>
         
    <label for="email">Email:</label>
    <input type="text"
           name="user[email]"
           value="<%= @user.email %>"
           id="email"> <br>
              
  <label for="password">Password:</label>
  <input type="password"
         name="user[password]"
         id="password"> <br>
  
  
  <input type="submit" value="Log in!">
  
  
</form>